body,h1{
    margin: 0;
}

.space{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.green{
    background-color: aquamarine;
}
.blue{
    background-color: dodgerblue;
}
.yellow{
    background-color: yellow;
}

#goUpBtn{
    position: fixed;
    right: 10px;
    bottom: 10px;
    display: none;
}