// Breakpoints
$sm: 320px;
$md: 768px;
$lg: 1024px;

@function getColumns($columns){
    @return repeat($columns,1fr);
}

@mixin setQuery($type) {
    @if $type == sm {
        @media(min-width: $sm) {
            @content;
        }
    }
    @else if $type == md{
        @media(min-width: $md) {
            @content;
        }
    }
    @else if $type == lg{
        @media(min-width: $lg) {
            @content;
        }
    }
}

.container{
    width: 95%;
    margin: 0 auto;
    @include setQuery(md){
        width: 90%;
    }
    @include setQuery(lg){
        width: 80%;
    }
}


.grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    @include setQuery(md){
        grid-template-columns: getColumns(2);
    }
    @include setQuery(lg){
        grid-template-columns: getColumns(3);
    }
}