#container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

.boton{
    width: 100%;
    height: 50px;
    background-color: aqua;
}
.boton:hover{
    background-color: turquoise;
}

.red{
    height: 50px;
    background-color: red;
}