#clock{
    border: 1px solid black;
    fill: lightgray;
    stroke-linecap: round;
    stroke: black;
}

#clock .face{
    stroke-width: 3;
}

#clock .ticks{
    stroke-width: 3;
}

#clock .hands{
    stroke-width: 3;
}

#clock .hands .secondhand{
    stroke: red;
    stroke-width: 1;
}
#clock .hands .hourhand{
    stroke: blue;
}

#clock .hands .minutehand{
    stroke: black;
}

#clock .numbers{
    font-family: sans-serif;
    font-size: 8px;
    font-weight: 400;
    stroke: none;
    fill: black;
    text-anchor: middle;
}