.video-container{
    width: 50%;
    position: relative;
}

#video{
    width: 100%;
    position: relative;
    display: block;
    z-index: 1;
}

.video-buttons{
    position: absolute;
    bottom: 10px;
    left: 10px;
    height: 40px;
    width: 50%;
    z-index: 2;
}

/* #play{
    position: absolute;
    left: 50px;
    bottom: 10px;
    top: 50px;
    width: 30px;
    height: 30px;
    z-index: 100;
}

#control{
    position: absolute;
    left: 50%;
    bottom: 10px;
}

#backwardSeconds{
    position: absolute;
    left: 10px;
    bottom: 10px;
}

#forwardSeconds{
    position: absolute;
    left: 140px;
    bottom: 10px;
}
#fullScreen{
    position: absolute;
    right: 10px;
    bottom: 10px;
} */

#video:fullscreen{
    z-index: 1;
}

#video::-webkit-media-controls{
    display: none;
}

.video-buttons:fullscreen{
    position: fixed;
}

.video-buttons:-moz-full-screen{
    position: fixed;
}

.video-buttons:-ms-fullscreen{
    position: fixed;
}
.video-buttons:-webkit-full-screen{
    position: fixed;
}